.h-100 {
    height: 100%;
}
.main {
    width: 80%;
    margin: auto;
}
.m-0 {
    margin: 0%;
}
.hli {
    list-style: none;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding: 2rem;
}
header {
    background-color: #AF171B;
    top: 0%;
}