.h-100 {
    height: 100%;
}
.m-0 {
    margin: 0%;
}
.main {
    width: 80%;
    margin: auto;
    position: relative;
    top: 10rem;
}
.t-0 {
    top: 0;
}
.vit {
    color: #e4e3e4;
}
.hli {
    list-style: none;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding: 3rem;
}
header {
    background-color: #AF171B;
}

body {
    background-color: #0b090a;
}
